.gallery {
    display: block;

        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.gallery__content {
    padding: 20px 24px;

    border: 1px solid var(--border-card-portfolio);
    border-top: none;
}

.gallery__title {
    margin-bottom: 4px;

    color: var(--title-text-color);
    font-weight: var(--fw-title-700);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.gallery__text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
}

