/* ОПИС КАРТКИ В ГАЛЕРЕЇ */

.description {
    position: relative;
    overflow: hidden;
}

.description__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(33, 150, 243, 0.9);

    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms var(--timing),
        opacity 250ms var(--timing);

            .gallery:hover &,
            .gallery:focus & {
                transform: translateY(0);
                opacity: 1;
            }
}

.description__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 322px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: var(--white-color);
}

