/* ГЕРОЙ*/

.hero {
    padding-top: 118px;
    padding-bottom: 118px;

    background-color: var(--dark-bgc);
    text-align: center;
}

 /* ФОН ГЕРОЯ */

 .hero--overlay {

     max-width: 1600px;
     margin-left: auto;
     margin-right: auto;

     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;

     background-image: linear-gradient(to right,
                 rgba(53, 47, 58, 0.4),
                 rgba(53, 47, 58, 0.4)), url(../image/mobile.jpg);
 }
    
    @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                .hero--overlay {
                        background-image: linear-gradient(to right,
                                    rgba(53, 47, 58, 0.4),
                                    rgba(53, 47, 58, 0.4)), url(../image/mobile2x.jpg);
                        }
        }
    

    @media screen and (min-width: 576px) {
        .hero--overlay {
                background-image: linear-gradient(to right,
                        rgba(53, 47, 58, 0.4),
                        rgba(53, 47, 58, 0.4)), url(../image/tablet.jpg);
        
            }
    @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            .hero--overlay {
                background-image: linear-gradient(to right,
                        rgba(53, 47, 58, 0.4),
                        rgba(53, 47, 58, 0.4)), url(../image/tablet2x.jpg);
            }
        }
     }

         @media screen and (min-width: 960px) {
             .hero--overlay {
                 background-image: linear-gradient(to right,
                         rgba(53, 47, 58, 0.4),
                         rgba(53, 47, 58, 0.4)), url(../image/desktop.jpg);
    
             }
    
             @media (min-device-pixel-ratio: 2),
             (min-resolution: 192dpi),
             (min-resolution: 2dppx) {
                 .hero--overlay {
                     background-image: linear-gradient(to right,
                             rgba(53, 47, 58, 0.4),
                             rgba(53, 47, 58, 0.4)), url(../image/desktop2x.jpg);
                 }
             }
         }
 

.hero__title {
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--card-gap);

    color: var(--white-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 480px){
        width: 360px;
    }

    @media screen and (min-width: 1200px) {
            width: 696px;
            font-size: 44px;
        }
}