/* ГЕРОЙ*/

.hero {
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--dark-bgc);
    text-align: center;

    /* ФОН ГЕРОЯ */
    
        &--overlay {
            // height: 600px;
            // max-width: 1600px;
            margin-left: auto;
            margin-right: auto;
    
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: linear-gradient(to right,
                    rgba(53, 47, 58, 0.4),
                    rgba(53, 47, 58, 0.4)), url(../image/hero.jpg);

        @media screen and (min-width: 480px) {
            height: 400px;
            max-width: 100%;
            }
        
        @media screen and (min-width: 768px) {
            height: 400px;
            max-width: 100%;
        }
        @media screen and (min-width: 1200px) {
            height: 600px;
            max-width: 1600px;
                 }

        }
}



.hero__title {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--card-gap);

    color: var(--white-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
            width: 696px;
            font-size: 44px;
        }
}