// .main-nav {
//     display: flex;
//     align-items: center;
// }

.main-nav{

    @media screen and (min-width:480px){
        display: flex;
            justify-content: space-between;
            align-items: center;
    }
   
    
    

}       