.menu-btn {
    z-index: 2;
    right: 0;
    top: 100%;

    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    @media screen and (min-width:768px) {
        display: none;
    }

    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    transition: color 250ms var(--timing);

    &:focus,
    &:hover {
        color: var(--accent-color);
    }

}

.menu-icon {
    width: 19px;
    height: 19px;
    fill: currentColor;
}



.icon-cross {
    display: none;
}

.menu-btn.is-open .icon-cross {
    display: block;
}

.menu-btn.is-open .icon-menu {
    display: none;
}


.menu-container {

    position: relative;

    background-color: #FFFFFF;



    @media screen and (max-width:767px) {
        display: none;
        padding: 48px 40px;


        position: absolute;
        top: 0%;
        left: 0;
        width: 100vw;
        height: 100vh;

        &.is-open {
            z-index: 1;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            // align-content: space-around;

        }

    }

    @media screen and (min-width:768px) {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: space-between;
        // align-items: baseline;

    }
}