/* ЛІНКИ НА СОЦ МЕРЕЖІ КОМАНДИ*/

.social {
    display: flex;
    justify-content: center;
}

.social__item {
    box-shadow: none;
    border: none;

    &:not(:last-child) {
            margin-right: 10px;
        }
}


.social__link {
    height: 44px;
    width: 44px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--icon-color);
    border-radius: 50%;

    transition: color 250ms var(--timing),
                background-color 250ms var(--timing);
        &:hover,
        &:focus {
                color: var(--white-color);
                background-color: var(--accent-color);
            }
}

.social__icon {
    height: 20px;
    width: 20px;
    fill: currentColor;
}

