.modal-form {
    width: 448px;
}

.modal-form__title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.modal-form__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
    color: var(--title-text-color);

    transition: border-color 250ms var(--timing);

        &:nth-child(5) {
            margin-bottom: 20px;
        }
}



.modal-form__subtitle {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--primary-text-color);
}

.modal-form__input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding: 11px 42px;
    cursor: pointer;

    transition: border-color 250ms var(--timing);

        .modal-form__field:focus-within &,
        .modal-form__field:hover & {
            outline: none;
            border-color: var(--accent-color);
        }
}

/*ІКОНКИ ФОРМИ */

.modal-form__icon {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 12px;

    fill: currentColor;

    transition: color 250ms var(--timing);

        .modal-form__field:focus-within &,
        .modal-form__field:hover & {
            color: var(--accent-color);
        }
}


.modal-form__input--size {
    resize: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.modal-form__input--size::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

/* ОФОРМЛЕННЯ CHECKBOX */

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--card-gap);
}

.checkbox__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox__icon {
    display: inline-block;
    height: 15px;
    width: 16px;
    margin-right: 7px;
    border: 2px solid #212121;
    border-radius: 2px;

    transition: border 250ms var(--timing);

        .checkbox:focus-within &,
        .checkbox:hover & {
            border: 2px solid var(--accent-color);
        }
}


.checkbox__input:checked+.checkbox__icon {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url(../image/check.svg);
    background-size: contain;
}

.checkbox__link{
    text-decoration-line: underline;
    color: var(--accent-color);
}

/* КНОПКА В ФОРМІ  */

.modal-form__btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.modal-form__btn {
    text-align: center;

    transition: box-shadow 250ms var(--timing);

        &:hover,
        &:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
}

