

.card-set {
    display: flex;
    flex-wrap: wrap;

    margin-top: calc(-1 * var(--card-gap));
    margin-left: calc(-1 * var(--card-gap));
}

.card-set__item {
    flex-basis: calc(100% / 3 - var(--card-gap));

    margin-left: var(--card-gap);
    margin-top: var(--card-gap);
}

