

.card-set {

    @media screen and (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
            justify-content: center;
    
        }

}

.card-set__item {
    

    &:not(:last-child) {
            @media screen and (max-width:767px) {
                margin-bottom: var(--card-gap);
            }

        }

         @media screen and (min-width:768px) {
            display: flex;
             margin: 15px;
             width: calc((100% - 2 * 30px) / 2);
    
         }
    
         @media screen and (min-width:1200px) {
             margin: 15px;
             width: calc((100% - 3 * 30px) / 3);
    
         }

}

