body {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;

    &--no-padding {
            padding-top: 0;
        }
}

.link {
    text-decoration: none;

}

.section__title {
    color: var(--title-text-color);
    font-weight: var(--fw-title-700);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

